<%= partial "partials/header" %>
<%= partial "partials/nav" %>

<div class="container">
  <%= yield %>
</div>

<% if current_page.data.last_posts %>
  <%= partial "partials/last_posts" %>
<% end %>

<%= partial "partials/footer" %>